textarea {
  width: 100%;
  resize: vertical;
  overflow-y: scroll;
  background-color: black;
  color: white;
}

.inputarea{
	width: 100%;
  resize: vertical;
  overflow-y: scroll;
  background-color: black;
  color: white;
	//max-height: 100px;
}
.input {
  min-height: 200px;
}

.chart-wrapper{
  margin: auto;
}

.ant-layout {
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.ant-layout-header {

}

.ant-layout-footer {

  /* flex-shrink: 0; */
}
