textarea {
  width: 100%;
  resize: vertical;
  overflow-y: scroll;
  background-color: black;
  color: white;
}

.test {
  resize: vertical;
  overflow-y: scroll;
  background-color: black;
  color: white;
  resize: vertical;
}

.input {
  width: 100%;
  resize: vertical;
  background-color: black;
  color: white;
}

.chart-wrapper{
  margin: auto;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-header {
  width: 100%;
  color: white;
}

.ant-layout-footer {
  width: 100%;
  background-color: blue;
  flex-shrink: 0;
}