.test{
  width: 100%;
  height: 200px;
  background-color: green;
  z-index: 99;

}
.inputcontainer{
  z-index: 99;
position: relative;
  /* min-height: 100px;
  resize: vertical;*/
  /* overflowY: scroll; */
  /* border-bottom: solid; */
  /* border-color: green; */
}
.resizer {
  position: relative;
  top: -5px;
  background-color: blue;
  /* height:5px; */
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  cursor: row-resize;
  border: 5px solid red;

}
